.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  margin-top: -370px;
}

.board {
  width: 100%;
  height: 100%; 
}

.cell {
  float: left;
  border: 5px solid black;
  height: 33%;
  width: 33%;
}

.fa-times {
  font-size: 150px;
  padding-left: 22%;
  padding-top: 7%;
}

.fa-circle {
  font-size: 125px;
  padding-top: 15%;
  padding-left: 17%;
}

.win {
  color: red;
}